<div class="footer-section-1">
	<article class="footer-container-content">
		<div>			
			<div class="footer-name-head text-size-l">
				<span>Навигация</span>
			</div>
			<div class="footer-links-list">
				<ul>
					<li><%= link_to('Категории', categories_path) %></li>
					<li><%= link_to('Сервисы', services_path) %></li>
					<li><%= link_to('Регистрация', new_user_path) %></li>
					<li><%= link_to('Вход', new_session_path) %></li>
					
				</ul>
			</div>
		</div>
	</article>
</div>

<div class="footer-section-2">
	<article class="footer-container-content">
		<div>
			<div class="footer-name-head text-size-l">
				<span>Контакты</span>
			</div>
			<section class="footer-info-container">					
				<div>
					<div class="footer-info-head">
						<span>Номер отдела:</span>
					</div>
					<div>
						<span> 88003553535</span>						
					</div>
				</div>
				<div>
					<div class="footer-info-head">
						<span>Почта отдела:</span>						
					</div>
					<div>
						<span>supprot@test.com</span>
					</div>
				</div>
			</section>
		</div>	
	</article>
</div>

<div class="footer-section-3">
	<article class="footer-container-content">	
		<div>
			<div class="footer-name-head text-size-l">
				<span>Автор</span>
			</div>
			
			<div>
			<section class="footer-info-container">					
				<div>
					<div class="footer-info-head">
						<span>почта:</span>
					</div>
					<div>
						<span>
							<a href="mailto:Larionov01996@gmail.com" class="footer-link-section-3">Larionov01996@gmail.com</a>
						</span>
					</div>
				</div>
				<div>
					<div class="footer-info-head">
						<span>Github:</span>						
					</div>
					<div>
						<span>
							<a href="https://github.com/RikersMax" class="footer-link-section-3">https://github.com/RikersMax</a>
						</span>
					</div>
				</div>
			</section>
				

			</div>
		</div>
	</article>
</div>