<% provide(:title_name, t('name_page.headers.service')) %>
<% render_navbar  %>

<article class="main-container-service">
	<section>	
		<div class="header-page-container">
			<strong class="header-page-name"><%= t('name_page.headers.service') %></strong>		
		</div>
	</section>	


	<section class="container-service">
						
		<div class="service-card-name">
			<span>Beauty Orsk</span>			
		</div>

		<div class="service-card-div">
			<div class="service-card-desc">
				
				<%= content_tag(:p, 'Добро пожаловать на наш сайт, посвященный салонам красоты города Орска! Мы создали этот ресурс, чтобы вы могли легко находить лучшие места для ухода за собой и наслаждаться высококачественными услугами.' , class: 'service-desc') %>
			</div>
		</div>

		<div class="service-card-name">
			<span>Что предлагает наш сайт?</span>			
		</div>

		<div class="service-card-div">
			<div class="service-card-desc">
				
				<div class="service-desc">
					<p>
						
					Информация о салонах: На нашем портале собрана актуальная информация обо всех ведущих салонах красоты нашего города. Вы найдете адреса, контактные данные, а также сможете ознакомиться с отзывами других клиентов.
					</p>
					<br>
					<p>
						
					Регистрация: Чтобы получить доступ ко всем функциям сайта, вам нужно всего лишь зарегистрироваться. Это займет у вас несколько минут, но откроет множество возможностей!
					</p>
					<br>
					<p>
						
					Оставляйте отзывы и комментарии: После посещения понравившегося салона оставьте свой отзыв или комментарий. Ваш опыт поможет другим пользователям сделать правильный выбор.
					</p>
					<br>
					<p>
						
					Поиск по категориям услуг: Найти подходящий салон стало еще проще благодаря удобной системе поиска по категориям услуг. Нужен маникюр? Или, может быть, стрижка? Просто выберите нужную категорию, и мы предложим вам список подходящих салонов.
					</p>
					<br>
					<p>
						
					Мы постоянно обновляем информацию на сайте, чтобы она всегда оставалась актуальной. Наслаждайтесь поиском идеального салона красоты вместе с нами!
					</p>
				</div> 
				
			</div>
		</div>

		
	</section>




</article>