/* card-categories */

.wrapper-card {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);	
}

.card-categoryies {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 300px;	
	background-color: white;
	margin: 15px;
	border: solid 2px;
	border-radius: 20px;
	overflow: hidden;
}

.card-categoryies > a {
	height: 100%;
	color: #000;
}


.card-categoryies > a:hover {
	transition: all .5s ease-in-out;
	background-color: #ffcccc;	
}

.card-image {
	width: 100%;
	height: 300px;
}

.name-card {	
	font-size: 2em;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}

.card-desc {
	padding: 15px;
	text-indent: 20px;
}

.footer-card {
	background-color: #ffcccc;
	text-align: center;
	padding-bottom: 15px;
}


/* services */

.main-container-service{
	display: flex;
	align-items: center;
	flex-direction: column;
}


.container-service {
	margin-bottom: 20px;
	margin-top: 20px;
	background-color: #ffb3b3;
	width: 50%;
	padding-bottom: 2em;
}

.service-card-name {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 2.5em;
}


.service-card-div {
	display: flex;
	justify-content: center;
	margin-top: 2em;
}

.service-card-info {
	display: flex;
	justify-content: space-between;	
	line-height: 3em;
	background-color: #ff9999;
	width: 90%;
}

.service-card-info > span {
	padding-left: 3em;
	padding-right: 3em;
}

.service-card-info > span:first-of-type {
	font-weight: bold;
}

.service-card-img {
	width: 90%;
}

.service-img {
	width: 100%;
}

.service-card-desc {	
	background-color: #ff9999;
	max-width: 90%;
}

.service-desc {	
	padding: 1em 3em 1em 3em;
	text-indent: 1em;
}

.service-card-info-stars {
	display: flex;
	align-items: center;
}

.service-card-stars {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 3em;
	padding-right: 3em;
}

.bg-ff9999 {
	background-color: #ff9999;
}

.service-card-info-center {
	display: flex;
	justify-content: center;	
	line-height: 3em;
	background-color: #ff9999;
	width: 90%;
}