* {
	font-family: "Roboto", sans-serif;	
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

input, textarea {
  box-shadow: none;
  border: none;
}

a {
	text-decoration: none;
	color: #000;
}

a:visited {
  color: #000;
}

ol, ul, li {
    list-style: none;
    text-decoration: none;
    color: #000;
}

input[type=submit] {
	font-size: 1em;
}

a:hover {
	color: #ff4d4d;
}