<% provide(:title_name, t('name_page.headers.category')) %>
<% render_navbar  %>

<article>
	<section>	
		<div class="header-page-container">
			<strong class="header-page-name"><%= t('name_page.headers.category') %></strong>		
		</div>
	</section>	

	<section class="container-all-card">
		<div class="wrapper-card">
			<% @categories.each do |category| %>

				<div class="card-categoryies">
					
					<%= link_to("services_several/#{category.creat_link_of_id}" ) do %>
						<figure>
							<%= image_tag(category.url_img, class: 'card-image') %>	
							<figcaption class="name-card"><%= t("category.#{category.name}") %></figcaption>				
						</figure>
					<% end  %>
					
					<div class="footer-card">					
					</div>
				</div>

			<% end %>
		</div>
	</section>	
</article>
